/* Style the header */
.header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  padding-bottom: 10px;
}

.header nav{
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.header nav li{
  display: inline-block;
  margin: 0 10px;
  text-decoration: underline;
}

.logo{
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  margin: 0 20px;
  flex-grow: 1;
}

.logo span{
  display: inline-block;
  margin: 0 5px;
}

/* Style main container */
.column{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}

span.header{
  font-weight: 700;
  font-size: 24px;
}

/*Large column*/
.column .large{
  display: flex;
  width: 630px;
  flex-shrink: 0;
  margin: 10px;
  flex-direction: column;
}

.main-story .image{
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url('../images/img-story-main.png');
  background-size: cover;
  height: 300px;
  justify-content: center;
}

.main-story .image span{
  color: white;
  text-align: left;
  font-family: Georgia;
  font-size: 30px;
  font-weight: 700;
  margin-left: 20px;
}

.stories{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

#earth{
  background-image: url('../images/img-story-2.png');
  height: 300px;
  display: flex;
  flex-direction: column;
}

#earth span{
  font-family: Georgia;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
}

#camera{
  background-image: url('../images/img-story-3.png');
  height: 300px;
  display: flex;
  flex-direction: column;
}

#camera span{
  font-family: Georgia;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
}

/*Medium column*/
.column .medium{
  display: flex;
  width: 300px;
  margin: 10px;
  flex-direction: column;
  flex-shrink: 0;
}

#cat-ceo{
  background-image: url('../images/img-story-1.png');
  height: 300px;
  display: flex;
  flex-direction: column;
}

#cat-ceo span{
  font-family: Georgia;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
}

/* Small column */
.column .small{
  display: flex;
  width: 240px;
  margin: 10px;
  flex-direction: column;
  flex-shrink: 0;
}

h3{
  text-transform: uppercase;
  font-size: 18.72px;
  text-align: center;
}

.news-bites span{
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-size: 12px;
  color: DimGray;
}

/* Style footer */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 325px;
  flex-direction: column;
  font-family: Verdana;
  font-size: 12px;
  background-color: MediumAquamarine;
}

footer nav{
  display: inline-block;
  padding-left: 25px;
}

footer nav span{
  padding: 20px 10px;
  display: inline-block;
}

#title{
  display: inline-block;
  border-right: 2px solid white;
  padding-right: 25px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
